.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

        h1 {
            color: var(--main-text-color);
            font-size: 2em;
            font-weight: 700;
        }

        span {
            font-size: 0.9em;
            color: var(--main-text-color);
            font-weight: 400;
        }
    }

    form {
        width: 90%;
    }

    .register-span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: 600;
    }
}