.ProfileModal {
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    bottom: -30%;
    transform: translate(-50%);
    display: none;
    flex-direction: column;
    gap: 15px;
    color: var(--main-text-color);
    padding: var(--modal-padding);
    max-width: var(--modal-max-width);
    min-width: var(--modal-min-width);
    width: var(--modal-width);
    border-radius: var(--big-border-radius);
    background-color: var(--light-background-color);

    header {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;

        img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }

        .name {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            span {
                font-size: 1em;
                font-weight: bold;
            }
        }

        .edit-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            padding: 0;
            border: none;
            border-radius: var(--small-border-radius);
            background-color: var(--main-background-color);

            .edit-icon {
                font-size: 1.3em;
                color: var(--main-text-color);
            }
        }
    }

    .shopping-list-section {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .shopping-list-wraper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .shopping-list {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 60%;

                .list-item {
                    cursor: pointer;
                    list-style: none;
                    padding: 3px 6px;
                    border-radius: var(--small-border-radius);
                    background-color: var(--main-background-color);

                    .list-name {
                        font-size: 1em;
                        font-weight: 600;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .items-in-list {
                        font-size: 0.8em;
                        font-weight: 300;
                    }
                }
            }

            .add-btn-wraper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .add-list-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 90px;
                    height: 80px;
                    background-color: var(--app-background-color);

                    .add-list-icon {
                        font-size: 2em;
                        color: var(--main-text-color);
                    }
                }
            }
        }
    }

    .buttons-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        button {
            width: 35%;
        }
    }
}