.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--main-text-color);
    background-color: transparent;

    .profile-btn {
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: none;
        background-color: var(--main-background-color);

        .user-icon {
            font-size: 1.3em;
            color: var(--main-text-color);
            transition: 100ms;
        }

        &:hover {
            box-shadow: var(--secondary-small-shadow);
        }

        &:active {
            top: 1px;
            box-shadow: var(--secondary-big-shadow);
        }
    }

    .logo {
        font-size: 1.3em;
        background-color: transparent;
        color: var(--main-text-color);
        font-family: var(--decorative-font);
        box-shadow: none;

        &:hover {
            box-shadow: none;
        }

        &:active {
            box-shadow: none;
            text-shadow: var(--main-small-shadow);
        }
    }
}