@keyframes activate-modal {
    100% {
        bottom: 3%;
        opacity: 100;
    }
}

@keyframes focus-input {
    100% {
        text-align: end;
        color: aquamarine;
    }
}

.App {
    .activate-modal {
        display: flex;
        animation: activate-modal 600ms forwards;
    }
}